body {
    font-family: Josefin Sans;
    background-color: hsl(235, 21%, 11%);
    color: white;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image {
    width: 100vw;
    height: 20vw;
    margin-top: -20px;
}

.title {
    color: white;
    font-size: 18px;
    margin-top: -220px;
    margin-bottom: 50px;
}

.toggle {
    width: 25px;
    height: 25px;
    margin-top: -110px;
    margin-left: 440px;
    margin-bottom: 50px;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comps {
    display: flex;
    flex-direction: column;
}

.add-todo input {
    width: 450px;
    height: 35px;
    padding: 10px;
    font-family: Josefin Sans;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.add-todo input::placeholder{
    font-family: Josefin Sans;
    color: hsl(233, 14%, 35%);
}

.todo-item {
    display: flex;
    align-items: center;
    width: 473px;
    height: 55px;
    border-radius: 5px;
    border-bottom: 1px solid hsl(233, 14%, 35%);
    background-color: hsl(235, 24%, 19%);
    margin: 0px;
    padding:0px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.check-box {
    display: block;
    position: relative;
    user-select: none;
}

.check-mark {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -12px;
   
}

.check-box input {
    display: none;
}

.check-box:hover input ~ .check-mark {
    border-color: hsl(223, 100%, 67%);
}

.check-box input:checked ~ .check-mark{
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.check-box .check-mark:after {
    top: 5px;
    width: 5px;
    height: 10px;
    left: 5px;
    color: white;
}

.check-box input:checked ~ .check-mark:after {
    display: block;
} 
   
   
.check-mark:after {
    content: '\2714';
    position: absolute;
    display: none;
} 

.todo-text {
    font-size: 18px;
    font-weight: 400px;
    color: hsl(234, 39%, 85%);
    margin-left: 70px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.bottom-nav {
    font-family: Josefin Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 452px;
    padding: 10px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    color: hsl(234, 11%, 52%);
  }
  
  .filters {
    display: flex;
    gap: 10px;
  }
  
  .filters button {
    background: none;
    border: none;
    color: hsl(234, 11%, 52%);
    cursor: pointer;
    font-family: Josefin Sans;
  }

  .filters button.active {
    font-family: Josefin Sans;
    font-weight: bold;
    color: hsl(223, 100%, 67%);
  }
  
  button {
    background: none;
    border: none;
    color: hsl(234, 11%, 52%);
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 13px;    
  }  

  .cdk-drag-preview {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .cdk-drag-placeholder {
    opacity: 0.5;
  }
  
  .goals-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .todo-item {
    margin-bottom: 2px;
    cursor: grab;
  }
  
  .todo-item.cdk-drag-preview {
    background-color: #444;
    border: 1px dashed white;
  }
  
  .todo-item.cdk-drag-animating {
    transition: transform 0.3s ease;
  }

  .dragndrop{
    display:flex;
    justify-content:center;
    font-family: Josefin Sans;
    color: hsl(234, 11%, 52%);
    margin-top: 14px;
    font-size: 12px;

  }
  