<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="todo-app.component.scss" />
  </head>
  <body>
    <div class="background">
      <img
        src="bg-desktop-dark.jpg" 
        alt="Banner"
        class="banner-image"
      />

      <div class="comps">
          <div class="title">
            <h1>T O D O</h1>
          </div>
          <img class="toggle" src="images/icon-sun.svg">

          <div class="add-todo">
            <input
              type="text"
              placeholder="Create a new todo"
              [(ngModel)]="newGoal.text"
              (keydown)="addTodo($event)"
            />
          </div>
          
          <div 
            cdkDropList 
            (cdkDropListDropped)="drop($event)" 
            class="goals-list">
            <div *ngFor="let goal of filteredGoals" cdkDrag>
              <div class="todo-item">
                <label class="check-box">
                  <input 
                    type="checkbox" 
                    [checked]="goal.completed" 
                    (change)="toggleGoalCompletion(goal)" 
                  />
                  <span class="check-mark"></span>
                </label>
                <p class="todo-text" [ngClass]="{'completed': goal.completed}">
                  {{ goal.text }}
                </p>
              </div>
            </div>
          </div>
          <div class="bottom-nav">
            <span>{{ remainingGoalsCount }} goals left</span>
            <div class="filters">
              <button (click)="setFilter('all')" [class.active]="filter === 'all'">All</button>
              <button (click)="setFilter('active')" [class.active]="filter === 'active'">Active</button>
              <button (click)="setFilter('completed')" [class.active]="filter === 'completed'">Completed</button>
            </div>
            <button (click)="clearCompleted()">Clear Completed</button>
          </div>     
          <div class="dragndrop">
            <p>Drag and drop to reorder list</p>
          </div>          
      </div>
    </div>
  </body>
</html>
