<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="todo-app.component.scss" />
  </head>
  <body>
    <div class="background">
      <img
        src="images/bg-desktop-dark.jpg" 
        alt="Banner"
        class="banner-image"
      />

      <div class="comps">
      
          <div class="title">
            <h1>T O D O</h1>
          </div>
          <img class="toggle" src="images/icon-sun.svg">

          <div class="add-todo">
            <input
              type="text"
              placeholder="Create a new todo"
              [(ngModel)]="newGoal.text"
              (keydown)="addTodo($event)"
            />
          </div>
    
          <div *ngFor="let goal of goals">
            <div class="todo-item">
              <label class="check-box">
                <input type="checkbox"/>
                <span class="check-mark"></span>
              </label>
              <p class="todo-text" [ngClass]="{'completed': goal.completed}">{{ goal.text }}</p>
            </div>
          </div>
      </div>

 
    


    
    </div>
  </body>
</html>
